html, body {
  header.navbar {
    .home-link {
      img.logo {
        border-radius: 50%;
      }
    }
  }

  div.theme-container {
    &.index__index {
      // 博客首页
    }
    &.index__articles-overview {
      // 文章总览页面
    }
  }
}